:root {
  --color-primary: #1b78af;
  --color-primary-op: #086784;
  --color-secondary: #b1b7ba;
  --color-white: #ffff;
  --color-success: #338309;
  --color-success-op: #006955;
  --color-warning: #fbce02;
  --color-warning-op: #e8a628;
  --color-danger: #bc0000;
  --color-info: #e1dbe5;
  --color-light: #f7f7f9;
  --color-dark: #091b1a;
  --color-school: #833990;
  --color-school-op: #bb99b7;

  --dp-font-family: "__font_pwks_kanit" !important;
}

/* ฟอนต์หลัก */
@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* น้ำหนักฟอนต์ที่ใช้งานบ่อย */
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-700 { font-weight: 700; }
.fw-900 { font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  font-family: "__font_pwks_kanit";
}




