   body {
    background: #006699 url("~/assets/image/wall4.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* font-family: "__font_pwks_kanit"; */
  }
  
  .bg-admin {
    background-image: url("~/assets/image/wall3.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .bgbox2 {
    background: #fff url("~/assets/image/f_bg.jpg") no-repeat;
    background-position: right bottom;
    padding: 20px;
    padding-bottom: 100px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: 10px;
  }
  
  .bgbox4 {
    padding: 5px 20px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .thead-bg {
    background-color: #e9ecef !important;
    color: #495057 !important;
    border-color: #dee2e6 !important;
    min-width: 120px;
  }
  
  .icon-status {
    padding: 0 0;
    margin: 0 0;
    font-size: 1rem;
  }

  .header_text_l{
    background-image: url("~/assets/image/tag_l_blue.png");
    background-repeat: no-repeat;
    background-size: 320px 80px;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    height: 80px;
    margin-left: -27px;
  }

  .score_board {
    background-image: url("~/assets/image/b-board.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 30px;;
    font-size: 10rem;
    color: #fff;
  }

  .footter_w {
    background-image: url("~/assets/image/b-board.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 30px;;
    font-size: 10rem;
    color: #fff;
  }
  
/* @import 'bootstrap/css/bootstrap'; */

@font-face {
  font-family: "__font_pwks_ui";
  src: url("/assets/fonts/font_.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_ui";
  src: url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.eot");
  src: url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.woff") format("woff"),
    url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.woff2") format("woff2"),
    url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.ttf") format("truetype"),
    url("/assets/fonts/b37cec1772007bb4bf27090dc9597172.svg#PSL-Kittithada")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font Kanit */
@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-ExtraLight.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Light.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_kanit";
  src: url("/assets/fonts/Kanit/Kanit-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Font IBM  */
@font-face {
  font-family: "__font_pwks_IBM";
  src: url("/assets/fonts/IBM_Plex_Sans_Thai_Looped/IBMPlexSansThaiLooped-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Font SARABUN  */
@font-face {
  font-family: "__font_pwks_sarabun";
  src: url("/assets/fonts/Sarabun-Bold.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_sarabun";
  src: url("/assets/fonts/Sarabun-BoldItalic.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__font_pwks_sarabun";
  src: url("/assets/fonts/Sarabun-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "__sriracha_pwks_club";
  src: url("../fonts/Sriracha-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.sriracha-font {
  font-family: "__sriracha_pwks_club";
  font-weight: 500;
}

:root {
  --color-primary: #1b78af;
  --color-primary-op: #086784;
  --color-secondary: #b1b7ba;
  --color-white: #ffff;
  --color-success: #338309;
  --color-success-op: #006955;
  --color-warning: #fbce02;
  --color-warning-op: #e8a628;
  --color-danger: #bc0000;
  --color-info: #e1dbe5;
  --color-light: #f7f7f9;
  --color-dark: #091b1a;
  --color-school: #833990;
  --color-school-op: #bb99b7;

  --toastify-icon-color-info: var(--color-white) !important;
  --toastify-icon-color-success: var(--color-white) !important;
  --toastify-icon-color-warning: var(--color-white) !important;
  --toastify-icon-color-error: var(--color-white) !important;

  --dp-font-family: "__font_pwks_kanit" !important;
}

/* Toast */

.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: #07bc0c !important;
}

.Toastify__toast-theme--light.Toastify__toast--info {
  background-color: #3498db !important;
}

.Toastify__toast-theme--light.Toastify__toast--warning {
  background-color: #f1c40f !important;
}

.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #e74c3c !important;
}

.Toastify__toast-body {
  color: var(--color-white);
}

.Toastify__close-button {
  color: var(--color-white) !important;
}

.Toastify__progress-bar--info,
.Toastify__progress-bar--success,
.Toastify__progress-bar--warning,
.Toastify__progress-bar--error {
  color: white !important;
  background: white !important;
}

.color_per{
  color: #8e44ad;
}

.bg-print{
  background-color: white;
  position: absolute;
  z-index: 99;
  width: 100%;
  /* height: 500%; */
  top: 1%;
}

.p-box-main {
  padding: 0.25rem 3rem;
}

/* FONT */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

h1 {
  font-family: "__font_pwks_kanit";
}

h2 {
  font-family: "__font_pwks_kanit";
}

h3 {
  font-family: "__font_pwks_kanit";
}

h4 {
  font-family: "__font_pwks_kanit";
}

h5 {
  font-family: "__font_pwks_kanit";
}

h6 {
  font-family: "__font_pwks_kanit";
}

.p-pwks {
  font-size: 1.1rem;
}

.fm-kanit {
  font-family: "__font_pwks_kanit";
}

.fm-IBM {
  font-family: "__font_pwks_IBM";
}

.fm-sarabun {
  font-family: "__font_pwks_sarabun";
}

.report-homeroom {
  font-size: 0.8rem;
  line-height: 20px;
  padding: unset;
  margin: 0 0 0.2rem 0;
}

.font-16px {
  font-size: 0.9rem;
  line-height: 20px;
  padding: unset;
  margin: 0 0 0.2rem 0;
}

.main {
  height: 100%;
  min-height: calc(100vh - 352px);
  width: 100%;
}

.divider-solid {
  background-color: black;
  opacity: 0.1;
  width: 100%;
}

/* font-color */
.pri_font {
  color: var(--color-school);
}

.style-font-date{
  color: #000000;
  font-size: 1.2rem;
}

.style-check-date {
  color: var(--color-danger);
  margin: 0 !important;
}

.style-border-check-date{
  border: 4px solid var(--color-danger);
  width: 170px;
  border-radius: 8px;
}

/* BUTTON */
.btn {
  padding: 3px 30px !important;
}

.btn-main {
  color: var(--color-white);
  background-color: var(--color-school);
}

.btn-main:hover {
  color: #ececec;
  background-color: #461b8b;
}

.btn-warning {
  color: var(--color-white);
  background-color: var(--color-warning-op);
}

.btn-warning:hover {
  color: #ececec;
  background-color: var(--color-warning);
}

.btn-success {
  color: var(--color-white);
  background-color: var(--color-success);
}

.btn-success:hover {
  color: var(--color-white);
  background-color: var(--color-success-op);
}

.btn-danger {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.btn-danger:hover {
  color: var(--color-white);
  background-color: #780000;
}

.btn-secondary {
  color: var(--color-dark);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}

.btn-secondary:hover {
  color: var(--color-dark);
  background-color: #84888a;
}

/* CURSOR */
.cursor-main {
  cursor: pointer;
}

/* warning txt */
.block_w_txt {
  color: var(--color-dark);
  border-color: #FFECB3;
  background-color: #FFECB3;
  border-radius: 10px;
}

.block_w_bea {
  color: #fff;
  border-color: var(--color-warning-op);
  background-color: var(--color-warning-op);
  margin-left: 15px;
  margin-top: -20px ;
  display: inline-block;
  border-radius: 100px;
}

/* Table */
.th-color-main {
  background-color: #85929e  !important;
  color: #fff !important;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

/* Validate */
.danger-input {
  color: var(--color-danger);
  font-size: 1rem;
}

/* Block Main  */
.block-main {
  margin-top: 5%;
}

.block-bg-main {
  width: 1010px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.box-info-main{
  width: 100%;
  display: flex;
  padding: 1rem;
}

.box-table-main{
  width: 100%;
}

.box-form-teacher-info{
  padding: 0 2rem 0 2rem;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 150px;
  height: 150px;
  text-align: right;
}

.ribbon span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 195px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 29px;
  right: -49px;
}

.ribbon span::before {
  content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 9px solid #8F0808;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-top: 9px solid #8F0808;
}

.ribbon span::after {
  content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 8px solid transparent;
    border-right: 8px solid #8F0808;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #8F0808;
}

.ribbon-period {
  position: absolute;
    right: -5px;
    top: -20px;
    z-index: 1;
    overflow: hidden;
    width: 150px;
    height: 150px;
    text-align: right;
}

.ribbon-period span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 195px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 29px;
  right: -49px;
}

.ribbon-period span::before {
  content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 9px solid #8F0808;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-top: 9px solid #8F0808;
}

.ribbon-period span::after {
  content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 8px solid transparent;
    border-right: 8px solid #8F0808;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #8F0808;
}

.text-danger {
  color: var(--color-danger);
}

.box-add-subject {
  width: 300px;
  padding: 10px;
  border: 1px solid #bd72ff;
  border-radius: 8px;
}

.chip-class {
  padding: 3px 6px;
  background-color: #884ea0;
  color: white;
  border-radius: 8px;
  white-space: nowrap; /* ป้องกันการตัดบรรทัด */
  display: inline-block;
  vertical-align: middle; /* ช่วยให้แน่ใจว่าองค์ประกอบจะอยู่ในแนวเดียวกัน */
}

.block-main {
  margin-top: 5%;
}

.block-bg-main {
  width: 1010px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 310px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 3rem; */
  }

  .btn-main {
    color: var(--color-white);
    background-color: var(--color-school);
    font-size: 0.8rem;
  }

  .btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    font-size: 0.8rem;
  }

  .btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 0.8rem;
  }

  .btn-secondary {
    color: var(--color-dark);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    font-size: 0.8rem;
  }

  .box-info-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .box-table-main{
    width: 100%;
    margin-left: unset !important;
  }

  .box-form-teacher-info{
    padding: unset !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 350px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 3rem; */
  }

  .btn-main {
    color: var(--color-white);
    background-color: var(--color-school);
    font-size: 0.8rem;
  }

  .btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    font-size: 0.8rem;
  }

  .btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 0.8rem;
  }

  .btn-secondary {
    color: var(--color-dark);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    font-size: 0.8rem;
  }

  .box-info-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .box-table-main{
    width: 100%;
    margin-left: unset !important;
  }

  .box-form-teacher-info{
    padding: unset !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 390px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 367px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    margin-bottom: 3rem;
  }

  .btn-main {
    color: var(--color-white);
    background-color: var(--color-school);
    font-size: 0.8rem;
  }

  .btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    font-size: 0.8rem;
  }

  .btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 0.8rem;
  }

  .btn-secondary {
    color: var(--color-dark);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    font-size: 0.8rem;
  }

  .box-info-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .box-table-main{
    width: 100%;
    margin-left: unset !important;
  }

  .box-footer{
    margin-top: -6rem;
  }

  .box-form-teacher-info{
    padding: unset !important;
  }
}

@media screen and (min-width: 390px) and (max-width: 420px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 380px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 3rem; */
  }

  .btn-main {
    color: var(--color-white);
    background-color: var(--color-school);
    font-size: 0.8rem;
  }

  .btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    font-size: 0.8rem;
  }

  .btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 0.8rem;
  }

  .btn-secondary {
    color: var(--color-dark);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    font-size: 0.8rem;
  }

  .box-info-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .box-table-main{
    width: 100%;
    margin-left: unset !important;
  }

  .box-form-teacher-info{
    padding: unset !important;
  }
}

@media screen and (min-width: 420px) and (max-width: 490px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 410px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 3rem; */
  }

  .btn-main {
    color: var(--color-white);
    background-color: var(--color-school);
    font-size: 0.8rem;
  }

  .btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    font-size: 0.8rem;
  }

  .btn-danger {
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 0.8rem;
  }

  .btn-secondary {
    color: var(--color-dark);
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
    font-size: 0.8rem;
  }

  .box-table-main{
    width: 100%;
    margin-left: unset !important;
  }

  .box-form-teacher-info{
    padding: unset !important;
  }

  .box-info-main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}

@media screen and (min-width: 490px) and (max-width: 590px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 480px;
    background-color: white;
    border-radius: 10px;
  }
}

@media screen and (min-width: 590px) and (max-width: 690px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 580px;
    background-color: white;
    border-radius: 10px;
  }
}

@media screen and (min-width: 690px) and (max-width: 760px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 680px;
    background-color: white;
    border-radius: 10px;
  }
}

@media screen and (min-width: 760px) and (max-width: 820px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 750px;
    background-color: white;
    border-radius: 10px;
  }
}

@media screen and (min-width: 820px) and (max-width: 920px) {
  .block-main {
    margin-top: 5%;
  }

  .block-bg-main {
    width: 810px;
    background-color: white;
    border-radius: 10px;
  }
}

  